<!DOCTYPE html>
<html>
<head>
  <title>PimpMyStyleApp</title>
  <%= stylesheet_link_tag    'application' => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class= "user_status">
<% if current_user %>
Logged in as <%= current_user.email %>
<%= link_to "logout", session_path("current"), method: "delete" %>
 <% else %>
  <%= link_to "signup", new_user_path %> or
  <%= link_to "login", new_session_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
