<h1>Pimped Hairstyles</h1>
<h1>Lots of Styles</h1>


<div id="pic">
  
<%= image_tag "funky1.jpg", width: 200 %>
<%= image_tag "funky2.jpg", width: 172 %>
<%= image_tag "funky3.jpg", width: 200 %>
<%= image_tag "funky4.jpg", width: 290 %>
<%= image_tag "braids1.jpg", width: 130  %>
<%= image_tag "style1.jpg", width: 200 %>
<%= image_tag "style3.jpg", width: 194 %>

<%= image_tag "style5.jpg", width: 200 %>
<%= image_tag "style6.jpg", width: 178 %>
<%= image_tag "style8.jpg", width: 170 %>
<%= image_tag "style9.jpg", width: 160 %>
<%= image_tag "style11.jpg", width: 140 %>
<%= image_tag "style4.jpg", width: 200 %>
<%= image_tag "style10.jpg", width: 200  %>
<%= image_tag "style7.jpg", width: 200 %>
</div>


