<h1>Style#new</h1>
<p>Lots of Styles</p>


<div>
  
<%= image_tag "funky1.jpg", width: 200, height: 200 %>
<%= image_tag "funky2.jpg", width: 200, height: 200 %>
<%= image_tag "funky3.jpg", width: 200, height: 200 %>
<%= image_tag "funky4.jpg", width: 200, height: 200 %>
<%= image_tag "braids1.jpg", width: 200, height: 200 %>
<%= image_tag "style1.jpg", width: 200, height: 200 %>
<%= image_tag "style2.jpg", width: 200, height: 200 %>
<%= image_tag "style3.jpg", width: 200, height: 200 %>
<%= image_tag "style4.jpg", width: 200, height: 200 %>
<%= image_tag "style5.jpg", width: 200, height: 200 %>
<%= image_tag "style6.jpg", width: 200, height: 200 %>
<%= image_tag "style7.jpg", width: 200, height: 200 %>
<%= image_tag "style8.jpg", width: 200, height: 200 %>
<%= image_tag "style9.jpg", width: 200, height: 200 %>
<%= image_tag "style10.jpg", width: 200, height: 200 %>
<%= image_tag "style11.jpg", width: 200, height: 200 %>

</div>


