<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div><br>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div><br>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div><br>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div><br>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div><br>
  
  <% if @user.role == nil %>
  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, options_for_select(["Client", "Barber"]) %>
  </div><br>
  <% end %>

  <% if @user.role == "Barber" %>
    <%= f.label :saloon_id, "Which Saloon do you belong to?" %>
    <%= f.collection_select :saloon_id, Saloon.all, :id, :name %>
    <br>
    <%= f.label :location, "Location" %>
    <%= f.select :location, options_for_select(["Camden", "City", "Croydon", "Ealing", "Enfield", "Greenwich", "Hackney", "Haringey", "Islington", "Lambeth", "Southwark", "Tower Hamlets", "Westminster"]) %>
    <br>
    <%= f.label :price, "Price" %>
    <%= f.number_field :price %>
    <br>
    <%= f.label :availability, "Availablity" %>
    <%= f.date_field :availability %>
    <br>
    <%= f.label :description, "A Little about yourself:" %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :image, "Image Link:" %>
    <%= f.text_field :image %>


  <% end %><br>

  <div class="actions">
    <%= f.submit "Get Pimped!" %>
  </div>
<% end %>
