<p id="notice"><%= notice %></p>


<h1>Clients</h1>


<% @users.each do |user| %>
  <% if user.role == "Barber" %>
  <ul>
    <li><%= image_tag(user.image, width: 100)%></li>
    <li><%= link_to user.first_name, user %></li>
  </ul>

  <ul>
    <li><%= image_tag(user.image, width: 100)%></li>
    <li><%= link_to user.first_name, user %></li>
  </ul>
  <% end %>
<% end %>

<br>

<%= link_to 'New User', new_user_path %>



