<% form_for users_path do %>
<p>
  <%= text_field_tag :search %>
  <%= submit_tag "search" %>
</p>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Availability:</strong>
  <%= @user.availability %>
</p>

<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Price per haircut:</strong>
  £<%= @user.price %>
</p>

<% if @user.saloon_id != nil %>
<p>
  <strong>Saloon:</strong>
  <%= link_to Saloon.find(@user.saloon_id).name, Saloon.find(@user.saloon_id)  %>
</p>
<% end %>

<% if !!current_user %>
  <% if current_user.id == @user.id %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  <% end %>
<% end %>
