<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @saloon.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @saloon.description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @saloon.description %>
</p>

<p>
  <strong>Tel number:</strong>
  <%= @saloon.tel_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @saloon.price %>
</p>

<p>
  <strong>Barbers:</strong>
  <ul>
  <% @saloon.barbers.each do |barber| %>
    <li><%= link_to "#{barber.first_name} #{barber.last_name}", barber  %></li>
  <% end %>
  </ul>
</p>

<h2>Likes: <%= @saloon.get_likes.size %></h2>

<% if @saloon.liked_by current_user %>
  <p>You have already Liked this saloon!</p>
<% else %>
<%= link_to "upvote", like_saloon_path(@saloon), method: :put %>
<% end %>

<%= link_to 'Edit', edit_saloon_path(@saloon) %> |
<%= link_to 'Back', saloons_path %>
