    <div class="homepage_buttons">
      <%= link_to "Find a salon", saloons_path, class: "button" %>
    </div>
<div class="logo">
    <%= image_tag "logo.png", width: 200 %>
    </div>
  <div class="main">
    <div class="pic_Holder">
      <section class="collection">
        <figure class="pic">
          <%= image_tag "home_image1.jpg" %> 
          <figcaption>
          Pimp this...
          </figcaption> 
        </figure>

        <figure class="pic">
          <%= image_tag "home_image2.jpg" %> 
        </figure>

        <figure class="pic">
          <%= image_tag "home_image3.jpg" %>        
          <figcaption>
           Feels greats to be pimped
          </figcaption> 
        </figure>

        
      </section>
    </div>
  </div>