<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/home">Pimp My Style</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="/saloons"> Find a Saloon </a></li>
        <li class="active"><a href="/barbers"> Barbers </a></li>

        <li class="has-dropdown">
          <a href="/style">Style</a>
          <ul class="dropdown">
            <li><a href="/style">funk</a></li>
            <li class="active"><a href="/style">punk</a></li>
          </ul>
          <li class= "user_status">
           <% if current_user %>
           <p>Hello, <%= current_user.email %></p>
           <p>You are a <%= current_user.role %></p>
           <%= link_to "Edit Profile", edit_user_path(current_user) %>
           <%= link_to "Logout", logout_path, method: :delete, data: {confirm: "Are you sure?"} %>
           <% else %>
           <%= link_to "Login", login_path %>
           <% end %>
         </li>
         <li class="active"><a href="/users/new"> Register </a></li>
       </li>
     </li>
   </ul>
 </section>
</nav>

<% flash.each do |name, message| %>
<div class="flash-message flash-message-<%= name %>">
  <%= message %>
</div>
<% end %>
<%= yield %>
</body>



<footer class="site-footer">
<nav id="nav-main">
    <ul class="opr-nav">
        <li><a data-target="1">Home</a></li>
        <li><a data-target="2">About us</a></li>
        <li><a data-target="3">Barbers chosen by Pimp Hair Style</a></li> 
        <li class="has-dropdown">
          <a href="#">Trends</a>
          <ul class="dropdown">
            <li><a href="#">funk</a></li>
            <li class="active"><a href="#">punk</a></li>
          </ul>
        <li><a data-target="4">Barber Shops</a></li>
        <li><a data-target="5">Saloons</a></li>
        <li><a data-target="6">Contact us</a></li>
    </ul>
</nav>

<p>&copy copyright 2015</p>
</footer>


</html>
