<!DOCTYPE html>
<html>
<head>
  <title>PimpMyStyleApp</title>
  <%= stylesheet_link_tag    'application' => true %>
  <%= javascript_include_tag 'application' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class= "user_status">
    <% if current_user %>
    <p>Hello, <%= current_user.email %></p>
    <p>You are a <%= current_user.role %></p>
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
    <%= link_to "Logout", logout_path, method: :delete, data: {confirm: "Are you sure?"} %>
    <% else %>
    <%= link_to "Please Login", login_path %>
    <% end %>
  </div>

  <% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
  <% end %>


  <%= yield %>

</body>
</html>
